.girl
  - if girl.video?
    .video есть видео

  .img
    %a{href: girl_path(girl)}
      = image_tag girl.avatar_url(:profile)
  .info
    .name
      = girl.name
    .params
      = girl.age.to_s
      лет