.girl
  - if girl.available_today?
    .available Работает сегодня
  - else
    .not-available
      Будет ждать вас
      = girl.available_date

  .img
    %a{href: girl_path(girl)}
      = image_tag girl.avatar_url(:profile)
  .info
    .name
      = girl.name
    .params
      = girl.age.to_s
      лет