%section#extras.extras
  .wrapper
    .title
      Дополнения

    .programs
      - Program.extras_only.order(:price).each do |program|
        .program
          .program-image
            = image_tag program.avatar_url(:list)
            .program-overlay
              .program-name
                = program.name
          .program-footer
            .time
              = program.duration.to_s
              минут
            .price
              = program.price.to_s
              рублей