%section.faq#faq
  .wrapper
    .title
      Частозадаваемые вопросы

    .block
      .question
        1. Я не поняла, что такое эротический массаж? Это скрытый секс?
      .answer
        Нет. Секса нет, да он и не нужен — эротический массаж лучше.
        Во всяком случае, так считают наши постоянные гостьи. Приходите и проверьте сами


    .block
      .question
        2. А могу я при этом трогать массажиста руками?
      .answer
        Конечно! Погладить мужчину можно везде. Однако «прицельные дотрагивания»
        до некоторых мест – это отдельное дополнение к программе.


    .block
      .question
        3. Я боюсь заразиться, это безопасно?
      .answer
        Заразиться при эротическом массаже нереально, если соблюдены элементарные общие правила гигиены.
        При массаже не происходит прямого контакта слизистых оболочек, поэтому
        передача половых заболеваний исключена.
        Для общей гигиены перед массажем гость и массажистка принимают душ,
        а на сеансе используется одноразовое бельё (простыня, тапки, полотенце).


    .block
      .question
        4. Насколько профессионален в вашем салоне классический массаж?
      .answer
        Некоторые мужчины работали до этого профессиональными массажистами, но, не будем скрывать, это скорее исключение.
        Тем не менее, все наши массажисты имеют специальную подготовку, обычно это трехмесячные курсы. Ну и опыт, конечно.


    .block
      .question
        5. А парни целуются?
      .answer
        Поцелуи ваших интимных мест и губ исключаются, но парень может целовать/покусывать ваше тело.


    .block
      .question
        6. Какие игрушки для эротических игр есть в салоне?
      .answer
        Есть много и разных, но лучше этот вопрос уточнить у менеджера по телефону,
        а лучше приехать самой и выбрать на свой вкус.


    .block
      .question
        7. К вам нужно записываться заранее?
      .answer
        Желательно за 1,5 - 2 часа до визита, администратор вас сориентирует по
        временни и массажистам, которые будут свободны к этому моменту.