.inline-banner
  .title
    Получите 30 минут эротического массажа абсолютно бесплатно!

  .subtitle
    Просто оставьте ваши контакты в форме ниже и получите промокод.

  .form
    .form-block
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :email, placeholder: 'Введите ваш email'}
      .button#send-email-action-form Получить код

    .form-thank-you
      .thank-you-text
        Вам на почту отправлено письмо с подтверждением.