%section#programs
  .wrapper
    .title
      Наши программы


    %ul.programs-filter
      %li.active
        %a{min: 0, max: 5000, href: '#'} До 5000 рублей
      %li
        %a{min: 5000, max: 10000, href: '#'} До 10 000 рублей
      %li.last{min: 10001, max: 1000000}
        %a{min: 5000, max: 10000, href: '#'} От 10 000 рублей


    .programs

      - Program.programs_only.order(:price).each do |program|
        .program
          .program-image
            = image_tag program.avatar_url(:list)
            .program-overlay
              .program-name
                = program.name
          .program-footer
            .time
              = program.duration.to_s
              минут
            .price
              = program.price.to_s
              рублей