.sale-form


  .form-thank-you
    .thank-you-text
      .bolder.big Получилось!
      Ждем вас к нам в гости!



  .form-block
    .form-title
      Дарим 30 минут эротического массажа!

    .subtitle
      Оставьте свои контакты в форме ниже
      %br
      и на ваш е-mail придет письмо с кодом
      на бесплатные 30 минут эротического массажа!

    %form
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :email, placeholder: 'E-mail'}
      .button#send-sale Отправить
