.sale-form


  .form-thank-you
    .thank-you-text
      .bolder.big Спасибо!
      Менеджер свяжется с вами в течение 15 минут



  .form-block
    .form-title
      Дарим 30 минут эротического массажа!

    .subtitle
      Оставьте свои контакты в форме ниже
      %br
      и на ваш е-mail придет письмо с кодом
      на бесплатные 30 минут эротического массажа!

    %form
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Ваш телефон'}
      .button.send-form Отправить
