%section
  .wrapper
    .title
      Что вас ожидает

    .triggers

      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.shower
          .trigger-title
            Душевая кабина в каждой комнате

        .trigger-desc
          В каждой из наших комнат установлена душевая кабина или джакузи.
          У нас всегда в наличии ароматные гели для душа на выбор.


      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.thief
          .trigger-title
            Мы не воруем ваше время

        .trigger-desc
          Время программы начнет засекаться лишь с того момента, когда вы выйдете из душа.


      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.wiskey
          .trigger-title
            50 мл виски перед массажем в подарок

        .trigger-desc
          Для создания неформальной обстановки ;)


      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.baby
          .trigger-title
            У нас реальные девушки

        .trigger-desc
          Мы даем 100% гарантию того, что в нашем салоне вы увидите тех же девушек, которых разглядывали на нашем сайте.