.action
  .wrapper
    .offer
      Аня,
      иди
      %span.bold на хуй!
      %br
      %br
      .small
        Сайт и домен наш, пишем тут что хотим.
        %br
        А салон твой и так скоро прикроется.

    %a.button{href: girls_path, style: 'display: block; text-decoration: none'} Пойти нахуй

= render partial: 'girls/girls_list', locals: {girls: @girls}



#address
  м. Краснопресненская, Волков переулок, дом 13, с1

#map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://www.rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity
