.padder
#intro
  .wrapper
    .intro-title
      Массажный салон
      %span.blue Виолет
      приглашает мужчин
      %br
      на
      %span.blue
        эротический массаж



-#= render partial: 'application/special_offer'
-#= render partial: 'application/triggers'



%section
  .wrapper
    .title
      Наши девушки




    .girls2
      - @girls.each do |girl|
        = render partial: 'girls/girl2', locals: {girl: girl}


= render partial: 'programs/programs'


#address
  м. Краснопресненская, Волков переулок, дом 13, с1
#map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity

.request-call-dialog
  .header-transparent
  .arrow-up
  .content
    .success
      Мы вам скоро перезвоним!
    %form
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Ваш телефон'}
      .submit#submit-order
        Заказать звонок
