.action
  .wrapper

    - if params[:utm_source] == 'yandex' or session[:utm_source] == 'yandex'

      .offer
        %span.splashed 
          Только этой ночью!
        %br
        %br

        Дарим
        %span.bold 30 минут
        эротики
        %br
        %span.bold + 2 дополнения
        %br
        при покупке  
        %br
        любой программы
        %br
        этой ночью
        %br
        %br

    - else

      .offer
        Салон
        %br
        массажа
        %span.bold "Виолет"
        %br
        приглашает вас в гости

        %br
        %br
        .small
          Мы находимся на
          %span.bold м. Краснопресненская

      %a.button{href: girls_path, style: 'display: block; text-decoration: none'} Наши массажистки

= render partial: 'girls/girls_list', locals: {girls: @girls}



#address
  м. Краснопресненская, Волков переулок, дом 13, с1

#map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://www.rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity
