.action
  .wrapper

    .offer
      Салон эротического
      %br
      массажа
      %span.bold "Виолет"
      %br
      приглашает вас в гости

      %br
      %br
      .small
        Мы находимся на
        %span.bold м. Краснопресненская

    .button Схема проезда

= render partial: 'girls/girls_list', locals: {girls: @girls}



#address
  м. Краснопресненская, Волков переулок, дом 13, с1
.wrapper
  #map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://www.rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity
