%section
  .wrapper
    .title
      Кто нам нужен?

    .job-blocks
      .block
        .header
          От 18 до 30 лет
        .content
          Если вы старше, но действительно выглядите моложе, то можете с нами связаться!

      .block
        .header
          Привлекательная внешность
        .content
          Размер одежды до 46, ухоженная кожа и волосы

      .block
        .header
          Желание зарабатывать
        .content
          Для нас важно соблюдение правил салона, пунктуальность.
          А так же желание качественно делать свою работу.

      .block
        .header
          Опыт работы НЕ обязателен
        .content
          Опыт работы желателен, но не обязателен. Предоставляем обучение и практику в процессе работы.

      .block
        .header
          Строго без интима
        .content
          Наш салон не предоставляет интим услуг. Это строгое правило!!!


%section
  .wrapper
    .title
      В чем заключается работа?


    .job-blocks
      .block
        .content
          Выполнение различных  массажных программ, с которыми вы можете ознакомиться в разделе программы.

      .block
        .content
          Базовая программа включает в себя
          30 минут классического и 30 минут эротического массажа.

      .block
        .content
          Эротическая часть выполняется без одежды при помощи рук и различных техник, без орально-генитального контакта.
          Интим строго запрещен!!!

%section
  .wrapper
    .title
      Почему стоит работать именно у нас?

    .job-blocks
      .block
        .header
          Зарплата 80 000 - 140 000 рублей
        .content
          Выплаты производятся в конце каждой смены (раз в два дня). У вас всегда будут деньги на мороженое ;)

      .block
        .header
          Официальное трудоустройство
        .content
          Мы можем предоставить вам официальное оформление по трудовому договору. По желанию.


      .block
        .header
          Гибкий график
        .content
          График составляется индивидуально. Дает возможность совмещение с учебой и  другой занятости


      .block
        .header
          Профессиональное обучение
        .content
          В процессе работы, вы пройдете курсы по классическому и эротическому массажу.


      .block
        .header
          Работа в центре Москвы
        .content
          4 минуты от метро Краснопресненская.


      .block
        .header
          Предоставление жилья
        .content
          Бесплатно предоставляем жилье для иногородних.



-#%section
  .wrapper
    .title
      Бонусы и подарки для сотрудников салона «Виолет»
      %small
        Мы проводим конкурсы между сотрудниками салона «Виолет» в которых есть возможность выиграть IPhone 5S, Macbook Air, а так же полет на курорт!


-#%section
  .wrapper
    .title
      Меня все устраивает, что дальше?



