.comments
  .comment
    margin-bottom: 20px
    padding: 10px
    background: #eee

    .username
      font-size: 18px
      color: #2d2d2d
      font-family: "Roboto-Regular"

      .date
        font-size: 13px
        color: #444

    .text
      padding-top: 20px
      font-size: 15px
      line-height: 1.3
      color: #2d2d2d