#girls
  background: #fff

.girls2
  margin-top: 50px
  @include thumbnails_parent

  .girl
    float: left
    width: 300px
    height: 540px
    background: #eee
    margin-right: 30px
    margin-bottom: 30px



    &:nth-child(3n)
      margin-right: 0px

    .available
      height: 40px
      line-height: 40px
      text-align: center
      background: #27ae60
      color: #fff
      font-family: 'Roboto-Regular'
      font-size: 16px

    .not-available
      height: 40px
      line-height: 40px
      text-align: center
      background: #333
      color: #fff
      font-family: 'Roboto-Light'
      font-size: 14px


    .img
      width: 300px
      height: 400px
      background: #aaa

    .info
      width: 280px
      height: 80px
      padding: 10px
      background: #fafafa
      color: #2d2d2d

      .name
        font-size: 24px

        .age
          font-size: 18px

      .params
        padding-top: 10px
        font-size: 16px

        span
          line-height: 20px

          &.right
            float: right

          a
            color: cornflowerblue