#intro
  width: 100%
  height: 650px
  background: red

  background: url('/assets/intro1.jpg') no-repeat
  background-size: cover
  background-position: 50% 50%

  .intro-title
    font-family: 'Roboto-Light'
    font-size: 54px
    color: #fff
    line-height: 1.3
    padding-top: 200px
    //text-shadow: 1px 1px #666

    .blue
      color: #ff1493

#intro-short
  width: 100%
  height: 100px
  background: url('/assets/intro_short.jpg') no-repeat
  background-size: cover
  background-position: 50% 50%