.intro
  padding: 30px 0
  @include thumbnails_parent
  .name
    float: left
    font-family: 'Roboto-Light'
    font-size: 24px
    color: #2d2d2d

    .small
      font-size: 14px
      padding-top: 10px
  .phone
    float: right
    font-family: 'Roboto-Light'
    font-size: 24px
    color: #2d2d2d
    text-align: right

    .small
      font-size: 14px
      padding-top: 10px






#no-sex
  display: none
  position: absolute
  top: 0px
  right: 0px
  z-index: 9990
  width: 200px
  height: 60px
  line-height: 60px
  background: #ff1493
  color: #fff
  font-size: 18px
  text-align: center