.programs-filter
  width: 550px
  height: 50px
  margin: 40px auto

  li
    display: inline
    width: 130px
    padding: 3px 10px

    height: 50px
    line-height: 50px
    margin-right: 50px
    text-align: center



    &.active
      background: #02D1EB
      color: #fff
      border-radius: 8px

      a
        color: #fff
        border-bottom: none

    &.last
      margin-right: 0px


    a
      color: #02D1EB
      text-decoration: none
      border-bottom: 1px dashed #02D1EB


.programs
  @include thumbnails_parent
  padding-top: 30px



  .program-container
    float: left
    position: relative
    margin-right: 20px
    margin-bottom: 20px
    width: 420px
    height: 250px
    padding: 15px
    background: #f2f7fa
    &:nth-child(2n)
      margin-right: 0px




    .program-header
      @include thumbnails_parent


      .program-title
        float: left
        padding-top: 20px
        margin-left: 20px
        width: 280px
        font-size: 24px
        font-family: 'Roboto-Light'
        line-height: 1.4

      .program-icon
        float: left
        width: 100px
        height: 100px
        position: relative

        .icon
          width: 100px
          height: 100px
          position: absolute

          img
            width: 100px
            height: 100px

    .program-desc
      padding-top: 20px
      font-size: 14px
      line-height: 1.4
      font-family: 'Roboto-Light'


    .program-info
      padding-top: 50px
      font-size: 18px
      font-family: 'Roboto-Regular'
      position: absolute
      bottom: 10px
      left: 20px