.topbar
  .wrapper
    .logo
      (495) 961 74 15
      -#%small
        %br
        Метро Динамо.
        &nbsp;&nbsp;&nbsp;
        Круглосуточно

    %ul.navigation

      %li
        %a.nav-link{href: '#', rel_id: 'girls'}
          Девушки

      %li
        %a.nav-link{href: '#', rel_id: 'programs'}
          Программы

      %li
        %a.nav-link{href: '#', rel_id: 'faq'}
          FAQ

      %li
        %a.nav-link{href: '#', rel_id: 'map'}
          Контакты

      %li
        %a.get-call{href: '#'}
          Заказать звонок