.topbar
  .wrapper
    %ul.navigation

      %li
        = link_to 'Главная', root_path


      %li
        = link_to 'Девушки', girls_path
      %li
        = link_to 'Программы', programs_path
      %li
        - if params[:controller] == 'application'
          %a.nav-link{href: '#', rel_id: 'map'}
            Контакты
        - else
          = link_to 'Контакты', root_path(anchor: :map)
      %li
        %a{href: '/job'} Работа для девушек

      %li.right
        .phone
          - if params[:utm_source] == 'yandex' or session[:utm_source] == 'yandex'
            %a{href: 'tel://89671329245', style: 'decoration: none:'}
              8 (967) 132-92-45
            .small Работаем круглосуточно

          - else
            %a{href: 'tel://84959617415', style: 'decoration: none:'} 
              8 (495) 961 74 15
            .small Работаем круглосуточно