.topbar
  .wrapper
    .logo
      -#(495) 961 74 15
      (965) 275 48 27
      %small
        %br
        круглосуточно

    %ul.navigation

      %li
        - if params[:controller] == 'application'
          %a.nav-link{href: '#', rel_id: 'girls'}
            Девушки
        - else
          = link_to 'Девушки', root_path(anchor: :girls)

      %li
        - if params[:controller] == 'application'
          %a.nav-link{href: '#', rel_id: 'programs'}
            Программы
        - else
          = link_to 'Программы', root_path(anchor: :programs)

      %li
        - if params[:controller] == 'application'
          %a.nav-link{href: '#', rel_id: 'map'}
            Контакты
        - else
          = link_to 'Контакты', root_path(anchor: :map)