!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', :media => 'all'
    = javascript_include_tag 'admin'
  %body
    .wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{href: '#'}
              "Fuck Dirty Chicks And Don't Wash Your Dicks" Production



      .container#main
        .row
          .span12
            = yield
      .push
